<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <!-- 見た目用にBootstrapを使う -->
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <!-- AngularJS 1.5を公式サイトから引っ張ってくる -->
  <script src="//code.angularjs.org/1.5.7/angular.min.js"></script>
  <!-- ↓↓↓自分で作ったJavaScriptはここから↓↓↓ -->
  <script src="app.js"></script>
</head>

<body class="container">
  <div ng-controller="AppController">
    <div>
      <form ng-submit="submit()">
        <div class="form-group">
          <label for="input">Today is...</label>
          <textarea name="kanso" rows="4" cols="40" type="text" class="form-control" id="input" placeholder="uu" ng-model="input">inp</textarea>
        </div>
        <button type="submit" class="btn btn-primary">submit</button>
      </form>
    </div>
    <hr>
    <div>
      <h1>今日も一日</h1>
      <ul>
        <li style="padding: 5px" ng-repeat="image in images">
          <div>
            <div>{{image.url}}</div>
            <img src="{{image.url}}" alt="{{image.url}}" />
            <button type="button" class="btn btn-xs btn-danger" ng-click="deleteImage($index)">x</button>
          </div>
        </li>
      </ul>
    </div>
  </div>

</body>

</html>
